@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Raleway:wght@300&display=swap");
:root {
  --primary_col: crimson;
  --font_primary: Roboto;
  --font_heading: "Raleway", cursive;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
}
.header {
  margin: 0px;
  position: relative;
  padding: 0px;
}
.header_text {
  display: inline-block;
  height: 4vh;
  padding: 0px 3em;
  font-size: 3vh;
  font-weight: 900;
  font-family: var(--font_heading);
  background-color: white;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5em;
  gap: 3em;
  font-family: var(--font_heading);
  font-weight: 900;
  position: relative;
}
.text-heading {
  font-size: 1.3em;
}
.name {
  font-size: 4em;
  padding: 0px;
  margin: 0px;
  font-family: "Playfair Display", serif;
}

.link_text {
  font-size: 1.5em;
  padding-bottom: 1em;
  border-bottom: 2px solid black;
}

.link_list {
  display: flex;
  gap: 1.5em;
  margin: 8px 0px;
}
.link_list li {
  list-style: none;
}
.logo_img {
  height: 2em;
}

/* for image */

.main_image {
  border-radius: 2em;
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.9);
}

/* for background */
.header::before {
  content: "";
  position: absolute;
  background-color: var(--primary_col);
  height: 4vh;
  width: 100vw;
  right: 0px;
  top: 0px;
  z-index: -10;
}
.main::before {
  content: "";
  position: absolute;
  background-color: var(--primary_col);
  height: 35vh;
  width: 95vw;
  left: -3vw;
  top: 25vh;
  z-index: -10;
  border-radius: 34px;
  box-shadow: 50px 50px 33px #a1a1a1, -50px -50px 33px #ffffff;
}
@media screen and (max-width:480px){
.main{
  flex-direction: column;
  
}
.text-heading,
.link_text{
  margin-left: 1em;
}
.link_text{
  margin-right: 1em;
}
.main_image{
  height: 40vh;
}


.main::before{
  height: 34vh;
  width: 100vw;
  left: -10vw;
  top: 0vh;
}
}